{% extends "base.html" %}
    {% block content %}
<div class="row  justify-content-center">
    <div class="col-8 m-2 p-1 border-bottom ">
        <h1 class="text-center border-bottom mb-3"><strong>Welcome to Kantipur Educare</strong></h1>
        <p class=" text-center">
            Kantipur Educare was established in 2015 with a sole objective of assisting and offering quality
            education and expertise in test preparation. As an exclusive school of IELTS and PTE, this
            institution
            has been delivering comprehensive educational services through its qualified and dedicated
            trainers and
            faculties. In addition, it has effectively mounted the students English language efficiency by
            addressing their needs to study in English spoken countries like Australia, USA, Canada, New
            Zealand and
            so on. As a result of this, the team at Kantipur Educare has successfully established itself as
            one of
            the leading institution for IELTS and PTE preparation in Kathmandu.
        </p>
    </div>


        <div class="container-fluid m-4">
            <div class="row justify-content-center">
                <div class="col-md-5 card m-3 p-2 border text-center">
                    <div class="card-header bg-dark text-center text-light">Mister Mister</div>
                    <img class=" rounded mx-auto d-block m-2" src="{{url_for('static', filename='img/person1.jpeg')}}">
                    <div class="card-body text-justify">I am very glad that I chose Kantipur Educare. They directed me towards a better future. I would recommend them for guiding you towards better future.</div>
                    <div class="card-footer bg-dark text-center text-light">Thank You !</div>

                </div>
                <div class="col-md-5 card m-3 border text-center">
                    <div class="card-header">Name=?</div>
                    <div class="card-body">Tstimony=?</div>
                    <div class="card-footer">Contents</div>

                </div>
                <div class=" col-md-5 card m-3 border text-center">
                    <div class="card-header">Name=?</div>
                    <div class="card-body">Tstimony=?</div>
                    <div class="card-footer">Contents</div>

                </div>
                <div class=" col-md-5 card m-3 border text-center">
                    <div class="card-header">Name=?</div>
                    <div class="card-body">Tstimony=?</div>
                    <div class="card-footer">Contents</div>

                </div>

            </div>


    </div>
</div>

{% endblock content %}